# --- CUSTOM PLACES ---
alias master='cd ~/Google\ Drive/Studies/Master/'
alias w='cd ~/Workspace'
alias desk='cd ~/Desktop'
alias d='cd ~/Downloads'
alias t='cd ~/Tmp'

# --- PROGRAMS ---
alias vim='/usr/local/Cellar/neovim/0.2.0_1/bin/nvim'
alias emacs='/usr/local/Cellar/emacs/25.2/bin/emacs'
alias atom='/Applications/Atom.app/Contents/Resources/app/atom.sh'
alias g='git'

# --- GIT ---
alias gps='g ps'
alias gpl='g pl'
alias gd='g d'
alias gdd='g dd'
alias gl='g l'
alias gs='g s'
alias gca='g ca'
alias gcap='g cap'

# --- SSH ---
alias u2='ssh krukfel@u2'

# --- FILES ---
alias rr='source ~/.zshrc'
alias zshrc='vim ~/.zshrc'
alias bootstrap='~/Workspace/dotfiles/bootstap.sh'

# --- SHORTCUTS ---
alias c='clear'
alias h='history'
alias hs='history | grep $1'
alias ps='ps aux | grep $1'
alias tgz='tar -xzvf'
alias lr='ls -R | grep ":$" | sed -e '\''s/:$//'\'' -e '\''s/[^-][^\/]*\//--/g'\'' -e '\''s/^/   /'\'' -e '\''s/-/|/'\'' | less' # recursive ls
alias f='open -a Finder ./' # open currect folder in finder
alias sizes="du -sh * | sort -n"
alias top="htop"
alias dot="~/Workspace/dotfiles/dot_backup.sh" # update dotfiles repo
alias r="ranger"
alias l='ll -a'
alias jn='jupyter notebook'
alias jakku='tunnel 6006 6006 jakku && tunnel 2222 22 jakku && ssh jakku'
